body{
    background-color: lightgrey;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 20px 50px;
    margin-top: 100px;
    font-size: 1rem;

}
input {
    height: 35px;
    border: none;
    padding: 5px 10px;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 10px;
    outline: none;
    width: 250px;
    
}
button{

    height: 45px;
    font-weight: bolder;
    background-color: green;
    color: white;
    border: none;
    padding: 3px 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 10px 20px;
        margin-top: 50px;
        font-size: 0.9rem;
    }
    
    input {
        width: 150px;
        height: 30px;
        font-size: 12px;
    }
    
    button {
        height: 35px;
        font-size: 0.9rem;
        padding: 2px 15px;
    }
}
